/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #fff;
  --color-background: #333;
  --color-inactive: #ccc;

  --gradient: linear-gradient(#AB93F7,
      #F8AFCB);


}

/* dark mode niet zeer nodig omdat de body gevuld is met image en 
laptop body is altijd darkmode ivm stylingkeuze. Dus alleen een brightness filter
voor over de images: */

@media (prefers-color-scheme: dark) {
  :root {
    filter: brightness(0.75);
  }
}




/* ********************************************************************** */
/* LAPTOP */
@media screen and (min-width: 768px) {

  main:first-of-type, main:first-of-type footer {
    position: fixed;
    float: left;
    max-width: 400px;

    /* height: 100vh; */
  }

  main:first-of-type header {
    display: none;
  }

  /* SLIDER VAN NUMMER */
  ul li>input {
    width: 350px !important;
    /* position: absolute; */
    margin-left: 25px !important;
    
  }

  main:first-of-type>ul li {
    max-width: 400px;

  }

  main:first-of-type>ul {
    max-width: 400px;
    box-shadow: 2px 10px 20px white;
  }

  main:first-of-type>ul li section:first-of-type {
    max-width: 400px;
  }





  /* content */
  main:last-of-type {
    display: block !important;
    margin-left: 400px;
    width: calc(100vw - 400px) !important;
  }

  main:last-of-type header {
    height: 200px;
    margin-left: 0px;
    background-image: var(--gradient);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  main:last-of-type header h1 {
    margin-left: 1.2em;
    font-size: 3em;
  }


  


  main:last-of-type>ul {
    padding-top: 6em;

  }

  main:last-of-type>ul li {
    list-style: none;

    display: flex;
    flex-direction: row;

    padding: 8px 0px;

    border-top: 0.75px solid grey;
    border-bottom: 0.75px solid grey;
  }

  main:last-of-type>ul li img {
    width: 4em;
    height: 4em;
    margin: 0px 15px;
  }

  main:last-of-type>ul li section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  main:last-of-type button {
    margin: 2em 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }


}



/****************/
/* JOUW STYLING */
/****************/
body {
  color: var(--color-text);
  background-color: var(--color-background);

  position: relative;
  width: 100vw;
  height: 100vh;
}







/* FONT SETTINGS */

/* TITEL SONG + ARTIESTENNAAM */
h1 {
  font-family: inter;
  /* font-size: 1.13em; */
  /* font-size: clamp(1.3em, 5.5vw, 2.3em); */
  font-size: clamp(1em, 5vw, 1.5em);
  font-weight: bold;

  margin: 0;
}

h2 {
  font-family: inter;
  /* font-size: 1.13em; */
  font-size: clamp(1em, 5vw, 1.5em);
  font-weight: normal;

  margin: 0;
}


h3 {
  font-family: inter;
  /* font-size: 1.13em; */
  font-size: 1.1em;
  font-weight: normal;
  filter: brightness(0.75);

  margin: 0;
}



/* PLAYLIST / NOW PLAYING */
main:first-of-type header nav ul li a {
  font-family: inter;
  /* font-size: 0.75em; */
  font-size: clamp(0.1em, 3vw, 1em);

  text-decoration: none;
}



/* LAPTOP CONTENT */

main:last-of-type {
  display: none;
}




/* ************************************************************************************************************ */
/* HEADER TOPNAVIGATIE: PLAYLIST | NOW PLAYING */
main:first-of-type header {
  /* height: 6.8em; */
  width: 100vw;
  position: fixed;
  z-index: 100;
  /* background-image: linear-gradient(#000,
      transparent); */
}

main:first-of-type header nav ul {
  list-style: none;

  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}

main:first-of-type header nav ul li {
  padding-top: 0.75em;
}

main:first-of-type header nav ul li:last-of-type a::before {
  content: ' | ';
  margin: 0 0.5em;
}

main:first-of-type header nav ul li:last-of-type a {
  font-weight: bold;
  color: var(--color-text);
}

main:first-of-type header nav ul li:first-of-type a {
  color: var(--color-inactive);

}




/* ************************************************************************************************************ */
/* NAAM NUMMER + ARTIEST */
main:first-of-type>ul li section:first-of-type {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* top: 4em; */

  /* position: fixed; */

  padding-top: 4em;
  width: 100vw;

  background-image: linear-gradient(#000,
      transparent);
}





/* ************************************************************************************************************ */
/* KNOPPEN LIKE SAVE SHARE */
main:first-of-type>ul li section:nth-of-type(2) {
  position: relative;
  top: calc(100vh - 32em);
  float: right;
  right: 0.5em;
  display: flex;
  flex-direction: column;

  width: fit-content;
}


main:first-of-type>ul li section:nth-of-type(2) button {
  background-color: transparent;
  border: none;
  margin-top: 1em;
}





/* ANIMATIES KNOPPEN */

/* favoriet */
main:first-of-type>ul li section:nth-of-type(2) button:nth-of-type(1) img.favoriet {
  animation-name: favoriet;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;

  /* border-radius: 20px 30px; */
}

@keyframes favoriet {
  0% {
    width: 50px;
    height: auto;
  }

  25% {
    width: 20px;
    height: auto;
  }


  75%,
  95% {
    width: 60px;
    height: auto;
  }

  95%,
  100% {
    width: 50px;
    height: auto;
  }
}








/* ************************************************************************************************************ */
/* SLIDER VAN NUMMER */
/* main:first-of-type ul li>input {
  width: 90vw;
  position: relative;
  left: calc(50% - 45vw);
  bottom: 505px;
  top: calc(100vh - 23em);
  accent-color: #DFB4DB;
} */

main:first-of-type ul li>input {
  position: relative;
  top: calc(100vh - 37.5em);
  margin-left: 5vw;
  display: flex;
  flex-direction: column;

  width: 90vw;
  accent-color: #DFB4DB;
}

/* main:first-of-type>ul li section:nth-of-type(2) {
  position: relative;
  top: calc(100vh - 32em);
  float: right;
  right: 0.5em;
  display: flex;
  flex-direction: column;

  width: fit-content;
}


main:first-of-type>ul li section:nth-of-type(2) button {
  background-color: transparent;
  border: none;
  margin-top: 1em;
} */



/* ************************************************************************************************************ */
/* MUSIC CONTROL BUTTONS */
main:first-of-type footer {
  position: fixed;
  bottom: 3.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  /* left: calc(50vw - 3em); */
}


/* PLAY / PAUSE */
main:first-of-type footer button:nth-child(2) {
  background-image: var(--gradient);
  border: none;
  border-radius: 50%;
  width: 7em;
  height: 7em;

  margin: 0 2em;
}

main:first-of-type footer button:nth-child(2) img {
  display: block;
  margin-left: 1.9em;
}


/* FORWARD / BACKWARD */
main:first-of-type footer button:first-of-type,
main:first-of-type footer button:last-of-type {
  background-color: transparent;
  border: none;
}







/* ************************************************************************************************************ */
/* pijltje omhoog */

main:first-of-type>img {
  position: absolute;
  bottom: 1em;
  margin-left: calc(50vw - 12px);
}




/* SONGSECTIONS */
/* Bron voor de swipefunctie: Sanne en https://codepen.io/ellie_html/pen/dyYjZyB?editors=0100 */

main:first-of-type>ul {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  position: absolute;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  left: 0;
}

/* om de automatische scrollbar te laten verdwijnen */
::-webkit-scrollbar {
  display: none;
}

main:first-of-type>ul li {
  list-style: none;
  scroll-snap-align: start;

  width: 100vw;
  height: 100vh;
}





/* THE WEEKND */
main:first-of-type>ul li:first-of-type {
  background-image: url(../images/weeknd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;
  /* @SHAE POSITION OVERAL BEKIJKEN */
}


/* MICHAEL JACKSON */
main:first-of-type>ul li:nth-of-type(2) {
  background-image: url(../images/michael.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


/* THE KID LAROI */
main:first-of-type>ul li:nth-of-type(3) {
  background-image: url(../images/laroi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* AJR */
main:first-of-type>ul li:nth-of-type(4) {
  background-image: url(../images/ajr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Jason Derulo */
main:first-of-type>ul li:nth-of-type(5) {
  background-image: url(../images/jalebi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



