/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
		url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;

	--subGreen: #009946;
	--subYellow: #FECA04;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #333333;

		/* --subGreen: #005C2A; */
		/* --subYellow: #987902; */
		filter: brightness(0.50);
	}
}



/****************/
/* JOUW STYLING */
/****************/
body {
	color: var(--color-text);
	background-color: var(--color-background);

	font-size: clamp(0.8em, 3vw, 2em);
}

/* FONT SETTINGS */
body {
	height: 100vh;
	display: grid;
	place-items: center;
}

h1 span:first-child {
	position: relative;
	font-family: 'Oxanium', 'All Round Gothic';
	font-size: 3em;
	text-transform: uppercase;
}

h1 span:nth-child(2),
span:nth-child(3),
span:nth-child(4),
span:nth-child(5) {
	font-family: 'All Round Gothic';
	font-size: calc(3em + 2px);
	font-weight: 300;
	text-transform: uppercase;
}

h1 span:last-child {
	position: relative;
	font-family: 'Kodchasan', 'All Round Gothic';
	font-size: 3em;
	text-transform: uppercase;
}



/* ****************************************************************************************************** */
/* ARROWS */

h1 span:first-of-type::before {
	content: '';
	position: absolute;

	right: 85%;
	bottom: 10%;

	height:clamp(0.3em, 3vw, 2.5rem);  
	width: clamp(0.3em, 3vw, 1.75rem); 

	background-color: var(--subYellow);

	/* Bron: Sanne en https://bennettfeely.com/clippy/ */
	clip-path: polygon(100% 0, 0 50%, 100% 100%);

	animation-name: subArrowDisco;
	animation-delay: 2s;
	animation-duration: 7s;
}

h1 span:last-of-type::after {
	content: '';
	position: absolute;

	left: 83%;
	top: 15.7%;

	height:clamp(0.3em, 3vw, 2.5rem);  
	width: clamp(0.5em, 3vw, 3.5rem); 


	background-color: var(--subGreen);

	/* Bron: Sanne en https://bennettfeely.com/clippy/ */
	clip-path: polygon(0 37%, 50% 37%, 50% 0, 100% 50%, 50% 100%, 50% 63%, 0 63%, 0 42%);

	animation-name: wayArrowDisco;
	animation-delay: 2s;
	animation-duration: 7s;
}



/* ****************************************************************************************************** */
/* LETTERS S U B */
h1 span:first-child,
span:nth-child(2),
span:nth-child(3) {
	color: var(--subYellow);

	width: 100px;
	height: 100px;
	animation-name: subDisco;
	animation-delay: 2s;
	animation-duration: 2s;
}


/* LETTERS W A Y */
h1 span:nth-child(4),
span:nth-child(5),
span:last-child {
	color: var(--subGreen);

	animation-name: wayDisco;
	animation-duration: 2s;
	animation-delay: 2s;
}



/* ****************************************************************************************************** */
/* EERSTE ANIMATIE */
/* arrow staat erbuiten */
body {
	background-image: url('../images/1-arrow.svg');
	background-repeat: no-repeat;
	background-size: 50em;
	background-position: 90em center;

	animation-name: eersteAniArrow;
	animation-duration: 2s;
}

h1 {
	animation-name: eersteAniTekst;
	animation-duration: 1.2s;
}


/* h1 span {
	animation-name: eersteAniSquash;
	animation-duration: 2s;
}
voor later evt (gaat met scale 3d, dus alleen doen als ik het snap)
https://codepen.io/Havatar/pen/wvjQwK?editors=0110 */



@keyframes eersteAniArrow {
	100% {
		background-position: -70em center;
	}
}

@keyframes eersteAniTekst {
	0% {
		transform: translateX(70em);
	}

	100% {
		transform: translateX(0);
	}
}



/* ****************************************************************************************************** */
/* VIJDE ANIMATIE */
/* color disco */

@keyframes subDisco {
	0% {
		color: var(--subYellow);
	}

	25% {
		color: var(--subGreen);
	}

	50% {
		color: var(--subYellow);
	}

	75% {
		color: var(--subGreen);
	}

	100% {
		color: var(--subYellow);
	}
}

@keyframes wayDisco {
	0% {
		color: var(--subGreen);
	}

	25% {
		color: var(--subYellow);
	}

	50% {
		color: var(--subGreen);
	}

	75% {
		color: var(--subYellow);
	}

	100% {
		color: var(--subGreen);
	}
}

@keyframes subArrowDisco {
	0% {
		background-color: var(--subYellow);
	}

	10% {
		background-color: var(--subGreen);
	}

	20% {
		background-color: var(--subYellow);
	}

	30% {
		background-color: var(--subGreen);
	}

	40% {
		background-color: var(--subYellow);
	}

	50% {
		background-color: var(--subYellow);
	}


	/* vijfde animatie */

	51% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				transparent 60% 100%);

		background-color: transparent;
	}

	67% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				#00A922 60% 85%,
				transparent 85% 100%);

		background-color: transparent;
	}

	68% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				#00A922 60% 85%,
				#AC542B 85% 100%);

		background-color: transparent;
	}

	100% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				#00A922 60% 85%,
				#AC542B 85% 100%);

		background-color: transparent;
	}
}


@keyframes wayArrowDisco {
	0% {
		background-color: var(--subGreen);
	}

	10% {
		background-color: var(--subYellow);
	}

	20% {
		background-color: var(--subGreen);
	}

	30% {
		background-color: var(--subYellow);
	}

	40% {
		background-color: var(--subGreen);
	}

	50% {
		background-color: var(--subGreen);
	}


	/* vijfde animatie */

	60% {
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	85% {
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	100% {
		background-image: linear-gradient(to top,
				#FF685A 0% 30%,
				#E3A833 30% 100%);
	}
}





/* ****************************************************************************************************** */
/* VIJDE ANIMATIE */

h1 span {
	animation-name: hamburger;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 10s;
}

/* h1 span:first-of-type::before {
	animation-name: hamburgerBefore;
	animation-duration: 5s;
	animation-delay: 5s;
} */

/* h1 span:last-of-type::after {
	animation-name: hamburgerAfter;
	animation-duration: 5s;
	animation-delay: 5s;
} */


@keyframes hamburger {
	0% {
		background-image: linear-gradient(to top,
				#E3A833 30%,
				transparent 30% 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	20% {
		background-image: linear-gradient(to top,
				#E3A833 30%,
				#00A922 30% 39%,
				transparent 39% 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	40% {
		background-image: linear-gradient(to top,
				#E3A833 30%,
				#00A922 30% 39%,
				#AC542B 39% 48%,
				transparent 48% 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	60% {
		background-image: linear-gradient(to top,
				#E3A833 30%,
				#00A922 30% 39%,
				#AC542B 39% 48%,
				#FFD900 48% 57%,
				transparent 57% 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	80% {
		background-image: linear-gradient(to top,
				#E3A833 30%,
				#00A922 30% 39%,
				#AC542B 39% 48%,
				#FFD900 48% 57%,
				#FF685A 57% 66%,
				transparent 66% 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	100% {
		background-image: linear-gradient(to top,
				#E3A833 30%,
				#00A922 30% 39%,
				#AC542B 39% 48%,
				#FFD900 48% 57%,
				#FF685A 57% 66%,
				#E3A833 66%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}


/* 
@keyframes hamburgerBefore {
	0% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				transparent 60% 100%);

		background-color: transparent;
	}

	33% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				#00A922 60% 85%,
				transparent 85% 100%);

		background-color: transparent;
	}

	34% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				#00A922 60% 85%,
				#AC542B 85% 100%);

		background-color: transparent;
	}

	100% {
		background-image: linear-gradient(to top,
				#E3A833 0% 60%,
				#00A922 60% 85%,
				#AC542B 85% 100%);

		background-color: transparent;
	}
} */


/* @keyframes hamburgerAfter {
	0% {
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	85% {
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	100% {
		background-image: linear-gradient(to top,
				#FF685A 0% 30%,
				#E3A833 30% 100%);
	}
} */